.form-title{
    color: rgb(17, 139, 170);
}
.header-title{
    color: rgb(5, 161, 252);
}
.size{
    font-size: 15px;
}
.bg-del-color:hover{
background-color: rgb(216, 92, 92);
}
.bg-edit-color:hover{
    background-color: rgb(32, 115, 184);
}
.font{
    font-size: 15px;
}